torch
torchvision
jupyter
scikit-learn
scipy
pandas
matplotlib
pillow
tqdm
requests
h5py
pyyaml
langchain
langchain-community
ipykernel
pypdf
chromadb==0.5.3
datasets
langchainhub
sentence-transformers
langchain-openai
pydantic
pdfkit
opencv-python
markdown
weasyprint
